.description{
    
    h3{
        font-weight: 400;
        font-size: 1.25rem;
        margin-top: 0px;
    }
    

    img{
        min-height: 6.875rem;
        max-height: 10rem;
    }
}