.goals{
    background-color: $lightgray;
    color: $green;

    h4{
        padding-top: 0px;
        font-size: 1.25rem;
    }

    ol{
        text-align: left;
        padding-left: auto;
        padding-right: auto;
    }


}