.abstract{
    background-color: $lightgray;

    h2{
        margin-top: 5px;
    }

    ul{
        margin-top: 0px;
        text-align: left;
        padding-left: auto;
        padding-right: auto;
        color: $black;
    }

    p{
        margin-top: 0px;
        text-align: left;
        margin-left: 0.625rem;
        margin-right: 0.625rem; 
        color: $black;
    }
    
    a{
        color: $blue;
        text-decoration: underline;
        text-align: left;
        display: flex;
        justify-content: left;
        margin-left: 0.625rem;
    }

    @include breakpoint-up(large){
        ul{
            margin-left: 15.625rem;
        }
        p{
            margin-left: 15.625rem;
            margin-right: 15.625rem;
        }
        a{
            margin-left: 15.625rem;
        }

    }
}