.ctabanner{
    background-color: $lightgreen;

    .container{
        @include breakpoint-up(large){
            display: flex;
            align-items: center;
        }
    }

    &__text{
        h2{
            color: $black;
            font-weight: 300;
        }

        @include breakpoint-up(large){
            flex: 3;
            order: 1;
            text-align: left;
            margin-left: 3rem;
        }
    }

    &__buttons{
        .button{
            &:not(:last-child){
                margin-right: 2.8125rem;
            }
        }

        @include breakpoint-up(large){
            flex: 2;
            order: 2;
        }
    }
}