//These are the breakpoints for different screensizes

@media (min-width: 64em){//1024px/16 = 64em

} 

//These are the maps
/*640px/16 = 40em : 1024px/16 = 64em : 1400px/16 = 87.5em*/
$breakpoints-up: ("medium" : "40em", "large" : "64em", "xlarge" : "87.5em" ); 
/*639px/16 = 39.9375em : 1023px/16 = 63.9375em : 1399px/16 = 87.4375em*/
$breakpoints-down: ("small" : "39.9375em", "medium" : "63.9375em", "large" : "87.4375em" ); 

@mixin breakpoint-up($size){
    @media (min-width: map-get($breakpoints-up,$size)){
        @content;
    }
}

@mixin breakpoint-down($size){
    @media (max-width: map-get($breakpoints-down,$size)){
        @content;
    }
}