//My Colors
$blue: hsl(197, 97%, 46%);
$green: hsl(101, 54%, 52%);
$lightgreen: hsl(101, 52%, 80%);
$gray: hsl(233, 8%, 62%);
$verylightgray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);


//Sizes 
$small: 0.875rem; //14px
$med: 1rem; //16px
$large: 1.125rem; //18px
$xlarge: 2.0625rem; //33px
