//import  using the name of the scss files here without the underscores so that the scss files can be converted in to css
//ex. @import "variables"
//note that the order of the imports matter
@import "variables";
@import "mixins";
@import "animations";
@import "globals";
@import "header";
@import "hero";
@import "description";
@import "goals";
@import "welcome";
@import "volunteer";
@import "ctabanner";
@import "qanda";

