/*640px/16 = 40em : 1024px/16 = 64em : 1400px/16 = 87.5em*/
/*639px/16 = 39.9375em : 1023px/16 = 63.9375em : 1399px/16 = 87.4375em*/
.open .header__togglebrgr > span:first-child {
  transform: rotate(45deg);
  background-color: #eea22f;
}
.open .header__togglebrgr > span:nth-child(2) {
  opacity: 0;
}
.open .header__togglebrgr > span:last-child {
  transform: rotate(-45deg);
  background-color: #eea22f;
}

.fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}

.stick-to-top {
  position: fixed;
  top: 0px;
  width: 100%;
}

.container {
  padding: 16px;
}

.sticky + .container {
  padding-top: 60px;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: #04a7e7;
  line-height: 1.5;
  text-align: center;
}

footer {
  padding: 30px;
}
footer a, footer a:visited, footer a:hover {
  padding: 1.25rem;
  color: #04a7e7;
}
footer p {
  color: black;
}
footer img {
  width: 2.5rem;
}
footer img:not(:last-child) {
  margin-right: 0.625rem;
}

a, a:visited, a:hover {
  text-decoration: none;
}

button, .button {
  display: inline-block;
  padding: 1rem 1.125rem;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  background-color: #04a7e7;
  color: white;
  font-weight: 400;
  transition: background-color 300ms ease-in-out;
}
button:hover, .button:hover {
  background-color: #eea22f;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.container__p-all {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container__py {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.container__px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container__pb {
  padding-top: 0px;
  padding-bottom: 3rem;
}
.container__pt {
  padding-top: 3rem;
  padding-bottom: 0px;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

/*May be useful
//no-scroll when mobile navigation is open
    &.no-scroll{
        overflow: hidden;
    }
*/
.header nav {
  background-color: white;
  position: relative;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 0px;
  overflow: hidden;
  top: 0;
}
.header__logo img {
  width: 7.1875rem;
}
.header__togglebrgr > span {
  display: block;
  width: 1.5625rem;
  height: 0.125rem;
  background-color: #04a7e7;
  transition: all 0.3s ease-in-out;
  transform-origin: 1px 1px;
}
.header__togglebrgr > span:not(:last-child) {
  margin-bottom: 0.375rem;
}
.header .overlay {
  opacity: 0;
  position: fixed;
  background-color: #fafafa;
  top: 7.75rem;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 98;
}
.header__menumobile {
  position: absolute;
  width: calc(100% - 3.75rem);
  background: white;
  border-radius: 5px;
  margin: 0px 2rem;
  padding: 1.625rem;
  margin-top: 10px;
  z-index: 99;
}
.header__menumobile a {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: #04a7e7;
  font-weight: 500;
  padding: 0.625rem;
  transition: color 0.3s ease;
}
.header__menumobile a:first-child {
  padding-top: 0;
}
.header__menumobile a:last-child {
  padding-bottom: 0;
}
.header__menumobile a:hover {
  color: #6cc743;
}
.header__menumobile a:hover::before {
  opacity: 1;
}
.header__links a {
  font-size: 1rem;
  color: #04a7e7;
  font-weight: 500;
  position: relative;
}
.header__links a:not(:last-child) {
  margin-right: 2.5rem;
}
.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0px;
  right: 0px;
  bottom: -10px;
  background-image: linear-gradient(to right, #04a7e7, #6cc743, #eea22f);
  background-size: 0%;
  transition: 0.2s ease-in-out;
}
.header__links a:hover {
  color: #6cc743;
}
.header__links a:hover::before {
  background-size: 100%;
}

/*May be useful

//these are instructions to animate the hamburger menu
    /*
    &.open{
        .header__togglebrgr{
            > span:first-child{
                transform: rotate(45deg);
            }
            > span:nth-child(2){
                opacity: 0;
            }
            > span:last-child{
                transform: rotate(-45deg);
            }
        }
    }

*/
.hero {
  background-color: #c2e7b1;
}
@media (min-width: 64em) {
  .hero .container {
    display: flex;
    align-items: center;
  }
}
.hero__in-person {
  background-color: white;
  border-radius: 0.625rem;
}
@media (min-width: 64em) {
  .hero__in-person {
    flex: 1;
    order: 1;
    margin-right: 10px;
  }
}
.hero__virtual {
  background-color: white;
  border-radius: 0.625rem;
}
@media (min-width: 64em) {
  .hero__virtual {
    flex: 1;
    order: 2;
  }
}
.hero__text {
  text-align: center;
}
.hero__text h1 {
  font-weight: 700;
  font-size: 2.31rem;
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 0.625rem;
}
@media (min-width: 64em) {
  .hero__text h1 {
    font-size: 4.6875rem;
  }
}
.hero__text h2 {
  color: black;
  font-weight: 400;
  font-size: 1.4375rem;
  margin-top: 0px;
  margin-bottom: 0.25rem;
}
@media (min-width: 40em) {
  .hero__text h2 {
    font-size: 2.0625rem;
  }
}
@media (min-width: 64em) {
  .hero__text h2 {
    font-size: 2.0625rem;
  }
}
.hero__text h3 {
  color: black;
  font-weight: 400;
  font-size: 1.125rem;
  margin-top: 0px;
  margin-bottom: 0.25rem;
}
@media (min-width: 40em) {
  .hero__text h3 {
    font-size: 1.125rem;
  }
}
@media (min-width: 64em) {
  .hero__text h3 {
    font-size: 1.171875rem;
  }
}
.hero__text h4 {
  font-weight: 400;
  font-size: 1.5625rem;
  margin-top: 10px;
  margin-bottom: 0.25rem;
}
@media (min-width: 40em) {
  .hero__text h4 {
    font-size: 1.5625rem;
  }
}
@media (min-width: 64em) {
  .hero__text h4 {
    font-size: 1.5625rem;
  }
}
.hero__text p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
}
.hero__learn {
  text-decoration: underline;
  color: #04a7e7;
}

/**May be useful
------For logos at the top----------
&__logos{
        display: block;
        padding: 0;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        img{
            width: 50px;
            height: 50px;
        }
    }
----------------------

**/
@media (min-width: 64em) {
  .description .container {
    display: flex;
    align-items: center;
  }
}
.description__text h3 {
  font-weight: 400;
  font-size: 1.875rem;
  margin-top: 0px;
}
.description__text p {
  margin-top: 0px;
  color: black;
}
@media (min-width: 64em) {
  .description__text {
    flex: 1;
    order: 2;
    text-align: center;
  }
}
@media (min-width: 64em) {
  .description__image {
    flex: 1;
    order: 1;
    margin-left: 5.3125rem;
  }
  .description__image img {
    min-height: 12.5rem;
    max-height: 15.625rem;
  }
}
@media (max-width: 63.9375em) {
  .description__image img {
    min-height: 6.875rem;
    max-height: 10rem;
  }
}

.goals {
  background-color: whitesmoke;
  color: #6cc743;
}
@media (min-width: 64em) {
  .goals .container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}
.goals__text h4 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 1.25rem;
}
.goals__text ol {
  margin-top: 0px;
  text-align: left;
  padding-left: auto;
  padding-right: auto;
  color: black;
}
.goals__text p {
  color: black;
}
@media (min-width: 64em) {
  .goals__text {
    flex: 1;
    order: 2;
    text-align: left;
    margin-left: 5.3125rem;
  }
  .goals__text ol {
    padding-left: 0.9375rem;
  }
}
.goals__image img {
  min-height: 15.625rem;
  max-height: 21.875rem;
}
@media (min-width: 64em) {
  .goals__image {
    flex: 1;
    order: 1;
    margin-right: 5.3125rem;
  }
}

@media (min-width: 64em) {
  .welcome .container {
    display: flex;
    align-items: center;
  }
}
.welcome__text h4 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 1.25rem;
}
.welcome__text p {
  margin-top: 0px;
  color: black;
}
@media (min-width: 64em) {
  .welcome__text {
    flex: 1;
    order: 2;
    text-align: left;
    margin-right: 5.3125rem;
  }
}
.welcome__map img {
  min-height: 15.625rem;
  max-height: 21.875rem;
}
@media (min-width: 64em) {
  .welcome__map {
    flex: 1;
    order: 1;
    margin-right: 5.3125rem;
  }
}

.volunteer {
  background-color: whitesmoke;
  color: #6cc743;
}
@media (min-width: 64em) {
  .volunteer .container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}
.volunteer__text h4 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 1.25rem;
}
.volunteer__text p {
  margin-top: 0px;
}
.volunteer__text a {
  color: #04a7e7;
  text-decoration: underline;
}
.volunteer__text a:hover {
  color: #eea22f;
}
@media (min-width: 64em) {
  .volunteer__text {
    flex: 1;
    order: 2;
    text-align: left;
    margin-left: 5.3125rem;
  }
}
.volunteer__image img {
  min-height: 15.625rem;
  max-height: 21.875rem;
}
@media (min-width: 64em) {
  .volunteer__image {
    flex: 1;
    order: 1;
    margin-right: 5.3125rem;
  }
}

.ctabanner {
  background-color: #c2e7b1;
}
@media (min-width: 64em) {
  .ctabanner .container {
    display: flex;
    align-items: center;
  }
}
.ctabanner__text h2 {
  color: black;
  font-weight: 300;
}
@media (min-width: 64em) {
  .ctabanner__text {
    flex: 3;
    order: 1;
    text-align: left;
    margin-left: 3rem;
  }
}
.ctabanner__buttons .button:not(:last-child) {
  margin-right: 2.8125rem;
}
@media (min-width: 64em) {
  .ctabanner__buttons {
    flex: 2;
    order: 2;
  }
}

.qanda__details {
  text-align: left;
}
.qanda h2 {
  margin-top: 7px;
  font-weight: 700;
  font-size: 1.875rem;
  padding-top: 0px;
  text-align: center;
}
.qanda h3 {
  text-align: center;
  font-weight: 400;
}
.qanda p {
  margin-top: 0px;
  color: black;
}
@media (min-width: 64em) {
  .qanda {
    flex: 1;
    order: 2;
    text-align: left;
  }
}

.present {
  color: #6cc743;
}
.present details {
  text-align: left;
  cursor: pointer;
}
.present summary {
  align-items: left;
  text-align: center;
}
@media (min-width: 64em) {
  .present .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 1rem;
  }
}
.present h3 {
  font-weight: 300;
  color: black;
}
.present__sdg_1 {
  color: white;
  font-weight: 400;
  background-color: #04a7e7;
  padding: 1rem;
  border-radius: 1rem;
}
@media (min-width: 64em) {
  .present__sdg_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
.present__sdg_2 {
  color: white;
  font-weight: 400;
  background-color: #49cdee;
  padding: 1rem;
  border-radius: 1rem;
}
@media (min-width: 64em) {
  .present__sdg_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
.present__sdg_3 {
  color: white;
  font-weight: 400;
  background-color: #42e0ac;
  padding: 1rem;
  border-radius: 1rem;
}
@media (min-width: 64em) {
  .present__sdg_3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
.present__sdg_4 {
  color: white;
  font-weight: 400;
  background-color: #6cc743;
  padding: 1rem;
  border-radius: 1rem;
}
@media (min-width: 64em) {
  .present__sdg_4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
.present__sdg_5 {
  color: white;
  font-weight: 400;
  background-color: #4b892f;
  padding: 1rem;
  border-radius: 1rem;
}
@media (min-width: 64em) {
  .present__sdg_5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.abstract {
  background-color: whitesmoke;
}
.abstract h2 {
  margin-top: 5px;
}
.abstract ul {
  margin-top: 0px;
  text-align: left;
  padding-left: auto;
  padding-right: auto;
  color: black;
}
.abstract p {
  margin-top: 0px;
  text-align: left;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  color: black;
}
.abstract a {
  color: #04a7e7;
  text-decoration: underline;
  text-align: left;
  display: flex;
  justify-content: left;
  margin-left: 0.625rem;
}
@media (min-width: 64em) {
  .abstract ul {
    margin-left: 15.625rem;
  }
  .abstract p {
    margin-left: 15.625rem;
    margin-right: 15.625rem;
  }
  .abstract a {
    margin-left: 15.625rem;
  }
}

.format {
  color: #6cc743;
}
@media (min-width: 64em) {
  .format .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    gap: 15px;
  }
}
.format hr {
  border-top: 3px dashed;
}
.format ul {
  margin-top: 0px;
  text-align: left;
  padding-left: auto;
  padding-right: auto;
}
.format p {
  margin-top: 0px;
  text-align: center;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  color: black;
}
.format h4, .format h5 {
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 5px;
}
.format .button {
  background-color: #6cc743;
}
@media (min-width: 64em) {
  .format__intro {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
.format__in-person {
  color: #4b892f;
  background-color: whitesmoke;
  border-radius: 0.625rem;
}
.format__in-person a {
  color: #4b892f;
  text-decoration: underline;
  text-align: left;
  display: flex;
  justify-content: left;
  margin-left: 5px;
}
@media (min-width: 64em) {
  .format__in-person {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
.format__virtual {
  color: white;
  background-color: #4b892f;
  border-radius: 0.625rem;
}
.format__virtual a {
  color: white;
  text-decoration: underline;
  text-align: left;
  display: flex;
  justify-content: left;
  margin-left: 5px;
}
@media (min-width: 64em) {
  .format__virtual {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.attendee {
  color: #6cc743;
}
@media (min-width: 64em) {
  .attendee .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    gap: 0.3125rem;
  }
}
.attendee details {
  text-align: left;
  cursor: pointer;
  margin-left: 5px;
}
.attendee h3 {
  text-decoration: underline;
}
.attendee h4 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 400;
}
.attendee h5 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 5px;
  font-weight: 400;
}
.attendee__intro p {
  color: black;
}
@media (min-width: 64em) {
  .attendee__intro {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
.attendee__in-person {
  color: #4b892f;
  background-color: whitesmoke;
  border-radius: 0.625rem;
}
@media (min-width: 64em) {
  .attendee__in-person {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
.attendee__virtual {
  color: white;
  background-color: #4b892f;
  border-radius: 0.625rem;
}
@media (min-width: 64em) {
  .attendee__virtual {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.team h2 {
  color: #6cc743;
  margin-bottom: 0px;
}
@media (min-width: 64em) {
  .team .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 1em;
  }
}
.team img {
  height: 14.375rem;
  width: 14.375rem;
}
.team .photo {
  position: relative;
  display: inline-block;
}
.team .photo .photo-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.team .photo:hover .photo-top {
  display: inline-block;
}
.team__member {
  background-color: #fafafa;
  padding-top: 1.5625rem;
  margin-top: 0.625rem;
}
.team__member h3, .team__member h4, .team__member p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.team__member p {
  color: black;
}
.team__member h4 {
  font-weight: 400;
}
.team__member a, .team__member a:visited, .team__member a:hover {
  padding: 0.5rem;
  color: #04a7e7;
}

.sponsors {
  background-color: whitesmoke;
}
.sponsors__text {
  color: #6cc743;
}
.sponsors__image {
  min-height: 15.625rem;
  max-height: 21.875rem;
}
@media (min-width: 64em) {
  .sponsors .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 1rem;
  }
}
@media (min-width: 64em) {
  .sponsors__center {
    display: flex;
  }
}d

.margins {
  margin-left: 8rem;
  margin-right:8rem;
}

@media (max-width: 64rem) {
  .margins {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

.schedule h2 {
  color: #6cc743;
}
.schedule h3 {
  color: white;
}
.schedule h4, .schedule p {
  color: black;
}
.schedule__sdg_1 {
  background-color: #04a7e7;
}
.schedule__sdg_2 {
  background-color: #49cdee;
}
.schedule__sdg_3 {
  background-color: #42e0ac;
}
.schedule__sdg_4 {
  background-color: #6cc743;
}
.schedule__sdg_5 {
  background-color: #4b892f;
}

/*# sourceMappingURL=style.css.map */
