//this is the style of the header
.header{ 
    //animate hamburger menu and add overlay on click -- see jscript to make it work
    &.open{
        .header__toggle{
            > span:first-child{
                transform: rotate(45deg);
            }

            > span:nth-child(2){
                visibility: hidden;
            }

            > span:last-child{
                transform: rotate(-45deg);
            }
        }
    }
    .overlay{
        opacity: 0;
        position: fixed;
        top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
        background-color: gray;
        background: linear-gradient(gray, transparent);

    }

    nav{
        background-color: $white; 
        position: relative;
        padding-left: 10px;
        padding-right: 20px;
        padding-top: 1px;
        padding-bottom: 5px;
    }

    &__logo{
        img{
            width: 7.1875rem;
        };
    }

    &__togglebrgr{
        span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: $blue;

            //transition to turn hamburger into x
            transition: all 0.3s ease-in-out;
            transform-origin: 1px 1px;

            //add margin to bottom if it is not the last child
            &:not(:last-child){
                margin-bottom: 6px;
            }
        }
    }

    &__menumobile{
        position: absolute;
        width: calc(100% - 3.5rem);
        background: $white;
        border-radius: 5px;
        margin: 0px 1.5rem;
        padding: 1.625rem;
        margin-top: 450px;

        a{  
            display: block;
            text-align: center;
            font-size: $med; //16px
            color: $blue;
            font-weight: 500;
            padding: 0.625rem;
            transition: color 0.3s ease;

            &:hover{
                color: $green;
                &::before{
                    opacity: 1;
                }
            }
        }
    }

    &__links{
        a{
            font-size: $med; //16px
            color: $blue;
            font-weight: 500;
            
            //spacing between menu links
            &:not(:last-child){
                margin-right: 2.5rem;
            }

            //line underneath desktop menu to indicate that page is selected
            position: relative;
            &::before{
                content:"";
                display: block;
                position: absolute;
                height: 5px;
                left: 0px;
                right: 0px;
                bottom: -10px;
                background-image: linear-gradient(to right, $blue, $green);
                background-size: 0%;
                transition: 0.3s ease-in-out;
            }
            &:hover{
                color: $green;
                &::before{
                    background-size: 100%;
                }
            }
        }
    }


    

    
    
}